{{>header}}
    <h2>About Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione corporis numquam sunt, itaque facere possimus quibusdam fugit consequuntur aliquid ex optio omnis quam, enim vel saepe voluptate. Maxime, rem? Maiores?</p>
    
    <p> Description: {{description}}</p>

    {{>footer}}